/* generle rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* HEADER */
header{
  background-color: #B4D0E7;
}

/* Menù fisso di navigazione */
nav.clearfix{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  min-height: 50px;
  background-color: white;
  text-align: center;
  z-index: 999;
}

.nav_left{
  list-style: none;
  float: left;
}

.nav_left li, .nav_right li{
  display: inline-block;
  padding: 23px 20px;
  vertical-align: middle;
}

.nav_left .li_txt:hover, .nav_right .li_txt:hover{
  border-bottom: 2px solid black;
}

.nav_left li img, .nav_right li img{
  width: 100%;
  vertical-align: middle;
}

.nav_right{
  list-style: none;
  float: right;
}

.btn{
  font-size: 14px;
  color: white;
  padding: 5px 30px;
  background-color: #0061FF;
  text-decoration: none;
}

.btn:hover{
  background-color: #3B85FF;
}

/* Jumbotron */
.jumbotron{
  position: relative;
  width: 70%;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 150px;
}

h1{
  font-size: 4vw;
}

.jumbo_txt{
  position: absolute;
  top: 50%;
  left: 0;
  width: 40%;
}

.jumbo_txt div{
  margin-top: 30px;
}

.jumbo_txt div .btn{
 padding: 10px 70px;
}

.jumbo_txt div i{
  font-size: 50px;
 }

.jumbo_img{
  position: absolute;
  top: 330px;
  right: 0;
  width: 60%;
}

.jumbo_img img{
  width: 100%;
}

/* MAIN */

main{
  width: 60%;
  margin: 0 auto;
  background-color: grey;
  height: 1000px;
}

.select_business{
  margin-top: 200px;
}

.business_title{
  font-size: 2vw;
  font-weight: 900;
  line-height: 400%;
}

.middle{
  margin: 0px 5%;
}

.box_selection{
  float: left;
  width: calc(90% / 3);
  margin-top: 20px;
  min-height: 800px;
  border: 1px solid black;
  background-color: blueviolet;
}

.user{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.content_selection{
  padding: 20px;
}

.content_selection div h2{
  line-height: 200%;
}

.content_selection div p:first-of-type{
  font-weight: 900;
}

.content_selection div p:last-of-type{
  font-size: 14px;
  line-height: 200%;
}

.content_selection div ul{
  list-style: none;
}

.content_selection div ul li{
  padding: 15px 0px; 
}