/* generle rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* HEADER */
header{
  background-color: #B4D0E7;
}

/* Menù fisso di navigazione */
nav.clearfix{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  min-height: 50px;
  background-color: white;
  text-align: center;
  z-index: 999;
}

.nav_left{
  list-style: none;
  float: left;
}

.nav_left li, .nav_right li{
  display: inline-block;
  padding: 23px 20px;
  vertical-align: middle;
}

.nav_left .li_txt:hover, .nav_right .li_txt:hover{
  border-bottom: 2px solid black;
}

.nav_left li img, .nav_right li img{
  width: 100%;
  vertical-align: middle;
}

.nav_right{
  list-style: none;
  float: right;
}

.btn{
  font-size: 14px;
  color: white;
  padding: 5px 30px;
  background-color: #0061FF;
  text-decoration: none;
}

.btn:hover{
  background-color: #3B85FF;
}

/* Jumbotron */
.jumbotron{
  width: 75%;
  height: 706px;
  margin: 0 auto;
  padding-top: 150px;
}

h1{
  font-size: 4vw;
}

.jumbo_txt, .jumbo_img{
  margin-top: 70px;
}

.jumbo_txt{
  float: left;
  width: 40%;
}

.jumbo_txt div{
  margin-bottom: 30px;
}

.jumbo_txt div .btn{
 padding: 10px 70px;
}

.jumbo_txt div i{
  font-size: 50px;
 }

.jumbo_img{
  float: left;
  top: 330px;
  right: 0;
  width: 60%;
}

.jumbo_img img{
  width: 100%;
}

/* MAIN */

.main_container{
  width: 60%;
  margin: 0 auto;
  /* background-color: grey; */
  min-height: 100px;
}

/* Sezione riguardante l'acquisto Dropbox */
.select_business{
  margin-top: 200px;
}

.business_title{
  font-size: 2vw;
  font-weight: 900;
  line-height: 400%;
}

.middle_select{
  margin: 0px 45px;
}

.box_selection{
  float: left;
  width: calc(90% / 3);
  margin-top: 20px;
  min-height: 800px;
  border: 1px solid black;
}

/* Riferimento al target del pacchetto */
.user{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

/* Descrizione del pacchetto */
.content_selection{
  padding: 20px;
}

.content_selection div{
  margin-bottom: 40px;
}

.content_selection div h2{
  line-height: 200%;
}

.content_selection div p:first-of-type{
  font-weight: 900;
}

.content_selection div p:last-of-type{
  font-size: 14px;
  line-height: 200%;
}

.content_selection div ul{
  list-style: none;
}

.content_selection div ul li.clearfix{
  margin: 20px 0px; 
}

/* Icone utilizzate nell'elenco */
.icon{
  float: left;
  width: 9%;
  padding-top: 3px;
}

.txt{
  float: left;
  width: 90%;
}

.content_selection div a.btn{
  padding: 3% 14%;
}

/* Piccolo bordo separatore */
.borders{
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid black;
}

/* simbolo del check */
.check{
  color: #005FFF;
}

/* box contenitore sottostante ai tre ravvicinati */
.buttom{
  width: 100%;
  min-height: 200px;
}

.buttom_txt{
  float: left;
  width: 70%;
}

.buttom_btn{
  float: left;
  width: 30%;
}

.content_selection div.buttom_btn a.btn {
  padding: 3% 22%;
}

/* PARTNER */
.partner{
  margin-top: 100px;
}



.partner_img{
  float: left;
  width: 50%;
}

.partner_img img{
  width: 100%;
}

.partner_txt{
  float: left;
  width: 50%;
  padding: 25px;
}

.partner_txt h2{
  margin-bottom: 25px;
}

.partner_txt div{
  margin: 25px 0px;
}


.partner_txt a.btn{
  background-color:white;
  color: black;
  border: 1px solid black;
  margin: 20px 0px;
}

.partner_txt a.btn:hover{
  background-color: lightgrey;
}

/* Sezione operazioni possibili */

.operations_business h2:first-child{
  margin-top: 70px;
  font-size: 2vw;
}

.operation_box{
  display: inline-block;
  width: calc(90% / 3);
  margin-bottom: 60px;
}

.operation_img img{
  width: 100%;
}

.operation_box h2{
  margin-bottom: 30px;
}

.middle_operation{
  margin: 0px 5%;
}

/* Sezione Client */
.clients_dropbox{
  margin-bottom: 70px;
}
.client_left{
  width: 30%;
  min-height: 200px;
  float: left;
  background-color: #097644;
}

.client_middle{
  width: 40%;
  min-height: 200px;
  float: left;
  background-color: #2d1170;
}

.client_right{
  width: 30%;
  min-height: 200px;
  float: left;
  background-color: #d49114;
}

/* Sezione FAQ */

.faq_title h2, .faq_answer div{
  line-height: 100px;
  border-bottom: 1px solid black;
  font-weight: 900;
}

.faq_answer div{
  font-size: 1vw;
}

.faq_title h2{
  font-size: 2vw;
}

.faq_answer div span:first-child{
  margin-right: 25%;
}